<html>
    <head>
        <link href="/assets/style.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <h1>Person: <%= ID %></h1>  <!-- Especifiacmos con los caracteres <%= %> que se va a recibir un valor especial de nombre ID,
                                    al cual pasaremos a la vista utilizando un "route handler" -->
    </body>
</html>

<!-- linea 6:
    Especifiacmos con los caracteres <%= %> que se va a recibir un valor especial de nombre ID,
    al cual pasaremos a la vista utilizando un "route handler" -->